<% provide :title, t("new_word") %>
<% provide :button_text, t("create") %>

<h2><%= t "new_word" %></h2>

<%= render "admin/words/word_form", word: @word, lesson_id: @lesson.id,
  kind: :single_choice %>
