<% provide :title, @lesson.name %>

<h2 class="lesson-name">
  <%= t "words_in" %>
  <%= link_to @lesson.name, course_lesson_path(@lesson.course_id, @lesson.id)%>
</h2>
<ul class="words">
  <%= render @words %>
</ul>
<%= button_to t("start_lesson"), "" %>
