<% provide :title, @course.name %>

<h2 class="course-name">
  <%= t "lessons_of" %>
  <%= link_to @course.name, @course%>
</h2>
<ul class="lessons">
  <%= render @lessons %>
</ul>
<%= will_paginate @lessons %>
