@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$white: #fff;
$orange: #ed6d12;
$footer: #252525;
$fa-facebook: #3b5998;
$fa-twitter: #55acee;
$fa-google: #dd4b39;
$fa-youtube: #b00;
$red: #f00;
$input-form: #bbb;
$grey: #666560;
$blue: #00f;
$black: #000;
$gray-lighter: #e0e0e0;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 90px;
}

.dropdown {
  width: 100px;
}

.scroll-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}

.dropdown:hover .dropdown-menu {
  background-color: $white;
  display: block;
}

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

footer {
  background-color: $footer;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;

  .follow-me {
    padding-left: 100px;

    h4 {
      color: $white;
      font-size: 19px;
    }
  }

  .copyright {
    h4 {
      color: $white;
      font-size: 30px;
    }

    p {
      color: $orange;
      font-size: 20px;
    }
  }

  .help {
    padding: 50px;

    a {
      color: $white;
      font-size: 20px;
    }
  }

  .about {
    padding: 50px;

    a {
      color: $white;
      font-size: 20px;
    }
  }
}

.footer-nav-social {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    .fa {
      border-radius: 50%;
      font-size: 17px;
      margin: 5px 2px;
      padding: 13px;
      text-align: center;
      text-decoration: none;
      width: 41px;
    }

    .fa:hover {
      opacity: .7;
    }

    .fa-facebook {
      background: $fa-facebook;
      color: $white;
    }

    .fa-twitter {
      background: $fa-twitter;
      color: $white;
    }

    .fa-google {
      background: $fa-google;
      color: $white;
    }

    .fa-youtube {
      background: $fa-youtube;
      color: $white;
    }
  }
}

.sign-up {
  h1 {
    text-align: center;
  }
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin-bottom: 30px;
  }
}

.field-with-errors {
  .form-control {
    color: $red;
  }
}

.course-list {
  .img-course {
    height: 160px;
    width: 100%;
  }

  .course-item {
    margin-bottom: 50px;
  }
}

.category-submit {
  width: auto;
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }

  .follow {
    padding: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;

  a {
    border-left: 1px solid $gray-lighter;
    color: $grey;
    float: left;
    padding: 0 10px;

    &:first-child {
      border: 0;
      padding-left: 0;
    }

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  strong {
    display: block;
  }
}

.user-avatars {
  margin-top: 10px;
  overflow: auto;

  .gravatar {
    margin: 1px;
  }

  a {
    padding: 0;
  }
}

.home-button {
  font-size: 35px;
  height: 80px;
  padding-top: 15px;
  text-align: center;
  width: 300px;
}

.name-test {
  color: $black;
  font-size: 200%;
  text-align: center;

  span {
    color: $red;
  }
}

.result-test {
  ul {
    list-style: none;
  }
}

.speak-result {
  width: 70px;
}

.answer {
  list-style: none;

  .single-answer {
    margin-bottom: 10px;
  }
}

.test-lesson {
  h3 {
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
  }
}    

.test {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid $gray-lighter;
    padding: 10px 0;
  }

  .content {
    display: block;
    margin-left: 60px;
    margin-top: 20px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
