@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$white: #fff;
$orange: #ed6d12;
$footer: #252525;
$fa-facebook: #3b5998;
$fa-twitter: #55acee;
$fa-google: #dd4b39;
$fa-youtube: #b00;
$red: #f00;
$input-form: #bbb;
$grey: #666560;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 90px;
}

.dropdown {
  width: 100px;
}

.scroll-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}

.dropdown:hover .dropdown-menu {
  background-color: $white;
  display: block;
}

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

footer {
  background-color: $footer;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

  .follow-me {
    padding-left: 100px;

    h4 {
      color: $white;
      font-size: 19px;
    }
  }

  .copyright {
    h4 {
      color: $white;
      font-size: 30px;
    }

    p {
      color: $orange;
      font-size: 20px;
    }
  }

  .help {
    padding: 50px;

    a {
      color: $white;
      font-size: 20px;
    }
  }

  .about {
    padding: 50px;

    a {
      color: $white;
      font-size: 20px;
    }
  }
}

.footer-nav-social {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    .fa {
      border-radius: 50%;
      font-size: 17px;
      margin: 5px 2px;
      padding: 13px;
      text-align: center;
      text-decoration: none;
      width: 41px;
    }

    .fa:hover {
      opacity: .7;
    }

    .fa-facebook {
      background: $fa-facebook;
      color: $white;
    }

    .fa-twitter {
      background: $fa-twitter;
      color: $white;
    }

    .fa-google {
      background: $fa-google;
      color: $white;
    }

    .fa-youtube {
      background: $fa-youtube;
      color: $white;
    }
  }
}

input {
  border: 1px solid $input-form;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}

.sign-up {
  h1 {
    text-align: center;
  }
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin-bottom: 30px;
  }
}

.field-with-errors {
  .form-control {
    color: $red;
  }
}

.course-list {
  .img-course {
    height: 160px;
    width: 100%;
  }

  .course-item {
    margin-bottom: 50px;
  }
}
